@charset "UTF-8";
* {
  padding: 0%;
  margin: 0%;
  box-sizing: content-box;
}

#logo {
  width: 50px;
  height: 50px;
}

img {
  max-height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.3);
}

.bg-body {
  background-color: rgb(252, 192, 192);
}

.bg-article {
  background-color: rgba(90, 67, 67, 0.44);
}

.bg-footer {
  background-color: rgb(138, 116, 116);
}

.bg-header {
  background-color: rgb(138, 116, 116);
}

.d-flex {
  display: flex;
}

.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-grid {
  display: grid;
}

.d-table {
  display: table;
}

.d-inline-flex {
  display: inline-flex;
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  to {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  }
}
.card {
  transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
  animation: slideUp 0.3s forwards;
  background-color: rgba(0, 0, 0, 0.05);
}
.card .card-title {
  color: #333;
  transition: color 0.3s;
}
.card .card-body {
  transition: background-color 0.3s;
}

#footer-line {
  height: 4px;
}

#icono {
  width: 10px;
  height: 10px;
  color: white;
}

.phone {
  color: #38453b;
}

.whatsapp {
  color: #25d366;
}

.instagram {
  color: #bc2a8d;
}

.facebook {
  color: #1877f2;
}

.styled-link {
  display: inline-block;
  padding: 12px 24px;
  color: white;
  text-decoration: none;
  background-color: #223e4f;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.styled-link:hover {
  background-color: #d1480f;
  transform: translateY(-2px);
}

.styled-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transition: all 0.5s ease;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
}

.styled-link:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.styled-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #fff, transparent);
  transition: all 0.5s ease;
  z-index: -1;
}

.styled-link:hover::after {
  transform: translateX(-100%);
}

.animated-link {
  z-index: 9;
  color: #ffffff; /* Color inicial del enlace */
  text-decoration: none; /* Eliminar subrayado predeterminado */
  transition: all 0.3s ease; /* Animación de transición para todos los cambios */
  position: relative; /* Posición relativa para efecto de sombra */
}

.animated-link:hover {
  color: #ff5733; /* Nuevo color cuando se pasa el cursor sobre el enlace */
  transform: scale(1.1); /* Escala al 110% */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
  opacity: 0.8; /* Opacidad del enlace */
}

.animated-link::before {
  content: ""; /* Contenido generado antes del enlace */
  position: absolute; /* Posición absoluta */
  width: 100%; /* Ancho del enlace */
  height: 2px; /* Altura de la barra */
  bottom: 0; /* Colocación en la parte inferior */
  left: 0; /* Colocación a la izquierda */
  background-color: #ff5733; /* Color de la barra */
  visibility: hidden; /* Ocultar inicialmente */
  transform: scaleX(0); /* Escala X cero para comenzar sin ancho */
  transition: all 0.3s ease; /* Animación de transición */
}

.animated-link:hover::before {
  visibility: visible; /* Hacer visible */
  transform: scaleX(1); /* Escala X completa */
}

img {
  max-height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.3);
}

#imagen {
  height: 300px;
  width: 500px;
}

#limpiezacutis {
  -o-object-fit: contain;
     object-fit: contain;
}

.imagenshop {
  min-width: 199px;
  min-height: 199px;
  max-width: 200px;
  max-height: 200px;
}

#criofraxis {
  width: 500px;
  height: 500px;
}

.contenedor-imagen {
  position: relative;
  overflow: hidden;
}
.contenedor-imagen .imagen-efecto {
  transition: transform 0.3s;
}
.contenedor-imagen .imagen-efecto:hover {
  transform: scale(1.1);
  filter: brightness(0.5);
}
.contenedor-imagen .texto-animado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
}
.contenedor-imagen:hover .texto-animado {
  opacity: 1;
}

.container-contacto {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  animation: fadeIn 2.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.contact-form input[type=text]:focus,
.contact-form input[type=email]:focus,
.contact-form textarea:focus {
  border-color: #ff5733;
}

.contact-form textarea {
  height: 100px;
}

.contact-form .submit-btn {
  background-color: #ff5733;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form .submit-btn:hover {
  background-color: #d1480f;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.container {
  animation: fadeIn 1s ease forwards;
}

.social-links {
  margin-top: 30px;
  background-color: #fff;
}
.social-links a {
  text-decoration: none;
  color: #007bff;
  margin: 10px;
  display: inline-block;
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
  animation: slideIn 0.5s ease-in-out forwards;
}
.social-links a:hover {
  transform: scale(1.2);
  color: #ff4500;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.social-links i {
  margin-right: 10px;
}
.social-links .phone {
  color: #38453b;
}
.social-links .whatsapp {
  color: #25d366;
}
.social-links .instagram {
  color: #bc2a8d;
}
.social-links .facebook {
  color: #1877f2;
}

.phone {
  color: #38453b;
}

.whatsapp {
  color: #25d366;
}

.instagram {
  color: #bc2a8d;
}

.facebook {
  color: #1877f2;
}

#productos article img {
  width: 150px;
  height: 150px;
  margin: 5px;
}/*# sourceMappingURL=style.css.map */