#footer-line{
    height: 4px;
 }
 #icono{
    width: 10px;
    height: 10px;
    color: white;
    
 }
 .phone {
   color: #38453b;
 }
 
 .whatsapp {
   color: #25d366;
 }
 
 .instagram {
   color: #bc2a8d;
 }
 
 .facebook {
   color: #1877f2;
 }