.custom-link {
    text-decoration: none;
    color: $color-text;
    position: relative; // Establecer posición relativa para el contenedor
    transition: color 0.3s ease;
  
    &:hover {
      color: $color-accent;
      transform: translateY(-2px);
    }
  
    &:active {
      color: $color-accent;
    }
  
    &::before, &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 4px;
      background-color: transparent;
      transition: background-color 0.3s ease;
    }
  
    &::before {
      left: 0;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  
    &::after {
      right: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  
    &:hover::before {
      background-color: $color-accent;
    }
  
    &:hover::after {
      background-color: $color-accent;
    }
  }
  
  .custom-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    opacity: 0; // Inicialmente oculto
    transform: translateY(20px); // Desplazado hacia abajo
    animation: fadeInUp 0.5s ease forwards; // Animación de entrada
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }