$colores: (
extras:#FFCCCC,
bodyy: #ffffff,
article:  #FFE4E1,
contact: #f4d5fe,
con:#98a995 ,

);

$color-1-form: #ff5733;
$color-2-form: #d1480f;


$display:(
    "flex": flex,
    "inline": inline,
    "block": block,
    "inline-block": inline-block,
  
);