$colores: (
body :rgb(252, 192, 192),
article: rgba(90, 67, 67, 0.44),
footer:rgb(138, 116, 116),

);

$color-1-form: #ff5733;
$color-2-form: #d1480f;


$display:(
    "flex": flex,
    "inline": inline,
    "block": block,
    "inline-block": inline-block,
  
);